{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
  <div class="card my-4">
    <h5 class="card-header">About</h5>
    <div class="card-body">
      <p class="card-text">This blog will feature daily verses from the Juz' of the day, encouraging readers to reflect on the teachings of the Quran.  Regular contemplation of the holy book (Quran) is a highly commendable practice that individuals should strive to incorporate into their daily routine.  At the end of the day, true success is reached by submitting to God and adhering to His guidance.</p>
      <a href="https://www.altafsir.com/Languages.asp?LanguageID=2" target="_blank" class="btn btn-danger">Learn More!</a>
      <a href="https://alquran.blog" target="_blank" class="btn btn-secondary">Previous Ramadan</a>
    </div>
  </div>
</div>

{% endblock sidebar %}